$font_primary:'Poppins', sans-serif;
$font_primary_color: #ffffff;
$font_secondary_color:  #485258;
$btn_bg:#fff;
$foo_top_one_bg:#FB896B;
$foo_top_two_bg:#FB6B6B;
$foo_top_three_bg:#F1A864;
$foo_bottom_one_bg:#FBD36B;
$foo_bottom_two_bg:#485258;
$padding_top:40px;
$padding_left:30px;
$padding_bottom:30px;
$btn_text_color:#fff;
$btn_padding:10px 20px;

